---
Language: Cpp
BasedOnStyle: LLVM
UseTab: Always
IndentWidth: 4
TabWidth: 4
ColumnLimit: 120
BreakBeforeBraces: Attach
BreakTemplateDeclarations: Yes
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
IndentCaseLabels: true
SpaceBeforeParens: ControlStatements
PointerAlignment: Right
ReferenceAlignment: Right
SortIncludes: false
