# CVS default ignores begin
tags
TAGS
.make.state
.nse_depinfo
*~
\#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
# CVS default ignores end
default/**
bin/**
lib/**
.*
OmfgScript/omfg_script_parser.h
GUI/detail/gss-grammar.h
Net/Reference/**
docs/zoidcom/**
# Mod folders
default/
baseg3/
promode/
portal/
classic/
beyondx/
projectx/
wm/
# Generated build artifacts (scons)
compile_commands.json
config.log
